{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'reset.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="reset-container">
    <a href="{% url 'inicio' %}">
        <img src="{% static 'kovac.jpg' %}" alt="Inicio" class="login-logo">
    </a>
    <h3>Restablecer Contraseña</h3>
    {% if valid_link %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="password" name="password" placeholder="Nueva contraseña" required>
            </div>
            <div class="input-group">
                <input type="password" name="confirm_password" placeholder="Confirmar contraseña" required>
            </div>
            <ul style="color: #C0392B; list-style-type: none; padding: 5; margin: 0;">
                <li>Su contraseña debe tener 8 caracteres:</li>
                <li>Entre ellos una mayúscula, minúscula y algún número.</li>
                <li>Al menos un símbolo: !@#$%^&*(),.?":{}|<>.</li>
            </ul>
            <button type="submit">Restablecer Contraseña</button>
        </form>
    {% else %}
        <p>El enlace para restablecer la contraseña no es válido o ha expirado.</p>
    {% endif %}
</div>
{% endblock %}
