/* login.css */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease-in-out;
}

.login-logo {
    max-width: 200px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.login-logo:hover {
    transform: scale(1.1);
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.input-group span {
    position: absolute;
    top: 100%;
    left: 10px;
    color: red;
    font-size: 12px;
    display: none;
}


button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.alert.error {
    color: red;
    background-color: #f8d7da;
}

.alert.success {
    color: green;
    background-color: #d4edda;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-overlay p {
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
    }
}
