{% extends 'tienda_final/inicio.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'terminoscondiciones.css' %}">
<title>Términos y Condiciones de Uso</title>

<div class="terminos-container">
    <h1>Términos y condiciones de uso</h1>
    <h2>Bienvenido a Ferretería Kovac</h2>
    <p>Al acceder y utilizar este sitio web, acepta estar sujeto a los siguientes términos y condiciones.</p>
    <p>
        El uso de nuestros servicios, así como la cotización y post compra de nuestros productos implica que usted ha leído y aceptado los Términos y Condiciones de Uso que aquí se describen.
    </p>
    <p>
        Para adquirir los productos que son ofrecidos por nuestro sitio web será necesario el registro por parte del usuario de sus datos personales fidedignos como correo electrónico, nombres y, en caso de aceptar la cotización, una dirección de despacho.
    </p>
    <p>
        Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
    </p>
    <p>
        Los precios de los productos ofrecidos en esta página web son válidos solamente en las compras realizadas en este sitio web.
    </p>
</div>

{% endblock %}
